
<h1>All Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Post Details", post %>
    </p>
  <% end %>
</div>

<%= link_to "Create new post", new_post_path %>
